* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    to right,
    rgb(140, 106, 148),
    rgb(196, 149, 163)
  );
  box-sizing: border-box;
}

.container {
  width: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  overflow-y: auto;
}
h2 {
  text-align: center;
  background-image: linear-gradient(
    to right,
    rgb(214, 97, 185),
    rgb(52, 52, 255)
  );
  color: white;
  padding: 10px;
  border-radius: 8px;
}

input[type="text"],
input[type="number"],
button {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

tfoot {
  font-weight: bold;
}

tr:hover {
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

.edit {
  background-color: #4ebe0d;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete {
  background-color: #c0201b;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete:hover {
  background-color: #ad1711;
}
.fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}
.edit:hover {
  background-color: #60d41c;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    margin: 20px;
  }
}
